.portfolio {
  color: #fff;
  /* background: #202020; */
  background-image: linear-gradient(0deg, #42b0b0, #202020)
  /* border: 1px dashed gray; */
}
  
.portfolio > .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  box-sizing: border-box;
  /* background: rgb(209, 255, 232); */
}

.portfolio > .container > ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio > .container > ul > li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  /* background: pink; */
}
.portfolio > .container .img {
  width: 150px;
  height: 150px;
  border: 1px dashed #fff;
}
.portfolio > .container .project-1 .img {
  background: url('../../assets/images/creation_basin.png');
  background-size: contain;
}
.portfolio > .container .project-2 .img {
  background: url('../../assets/images/woof_walks.png');
  background-size: contain;
}